<head>
  <%- include('source'); -%>
</head>


  <nav class="navbar">
    <a href="/" style="margin: auto; font-size: 25px; font-weight: bold; display: flex; align-items: center;"><img src="/robot.png" width="35px" height="35px" />&nbsp;RO<span>BOT</span></a>
  </nav>